.main {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg);
  padding-inline: 6px;
  padding-bottom: 5px;
  overflow: hidden;
}

.leaderboard {
  max-width: 100%;
  background-color: var(--dark);
}

.user {
  display: flex;
  align-items: center;
  padding: 10px;

  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #888;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .avatar_GL {
    background-color: #870c4f;
  }

  .avatar_ES {
    color: #000436;
    background-color: #1976d2;
  }

  .avatar_MO {
    background-color: #388e3c;
  }

  .avatar_SO {
    background-color: #64b5f6;
  }

  .avatar_RO {
    background-color: #9e9e9e;
  }

  :is(.avatar_SO, .avatar_RO) {
    color: #11293e;
  }

  .avatar_PE {
    background-color: #81c784;
  }

  .avatar_IM {
    background-color: #ffb74d;
  }

  .user-info {
    flex-grow: 1;
  }

  .user-name {
    font-size: 0.75rem;
  }

  .amount {
    color: #909090;
  }

  .rank {
    color: #fafafa;
  }

  .rank__medal {
    font-size: 1.25rem;
  }

  :is(.user-name, .amount) {
    display: block;
  }

  :is(.amount, .rank, .avatar) {
    font-size: 0.875rem;
  }
}
